body{
	/*padding-top: 44px;*/
}
.rzzl{
	padding: 0 15px;
	line-height: 24px;
}

._show{
	padding: 15px 0;
}

.list h4{
	font-weight: normal!important;
}
.list .l_side{
	padding: 1px 0;
}


.ovdue{  /*逾期*/
 	color: #fff;
 	background-color: red;
 	border-radius: 10px;
 	padding: 3px 5px;
 	font-size: 14px;
 	height: 100%;
 	display: inline-block;
}

